<launch>

    <!-- Arguments -->
    <arg name="rviz" default="true" />

    <!-- Start MoveIt -->
    <include file="$(find fetch_delivery_system)/launch/include/moveit.launch" />

    <!-- Start RViz -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find fetch_delivery_system)/config/grasping.rviz" if="$(arg rviz)"/>

    <!-- Start the object segmentation node -->
    <!-- <node type="" name="" pkg=""> -->
</launch>